html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Natalia's CSS Template */
/* Colors: #D3FDF3 - pale mint to go with theme */

/* Modify to make H2 more impactfull */
h2 {
    color: var(--bs-heading-color);
}

blockquote {
    background-color: #D3FDF3;
    background-position: center;
    --bs-border-width: 5px;
    --bs-border-style: solid;
    --bs-border-color: #eceeef;
}