html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Natalia's CSS Template */
/* Colors: #B7EEDE - pale mint to go with theme 

*/
/* Modify to make H2 more impactfull */
h2 {
    color: var(--bs-heading-color);
}

h3 {
    padding-top: 15px;
    padding-bottom: 7px;
    color: #78c2ad;
}


box {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 3px;
    border-color: #B7EEDE;
    background-color: mintcream;
}

/* Leonardo's CSS Template */
/* Table of Contents CSS */
#tocBtn{
    margin-top:10px;
}
.toc {
    max-width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center;
}

.newtable {
    max-width: 300px;
    font-size: 1.0em;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto; /* Centers the table horizontally */
    width: 80%;
}

    .toc h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
        text-align: center;
    }

    .toc ul {
        list-style-type: none;
        padding: 0;
    }

        .toc ul li {
            margin: 10px 0;
        }

            .toc ul li a {
                text-decoration: none;
                color: #007bff;
                font-size: 1em;
                transition: color 0.3s ease;
            }

                .toc ul li a:hover {
                    color: #0056b3;
                }
