@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="text-center">

    <div class="container p-5 my-5 bg-dark text-white rounded-1">
        <h1 Style="color:white" class="display-4">Welcome to Our Logistics Web App</h1>
        <p Style="color:#78c2ad"> <strong> Check Out "Start Here" for more Project and Team Information </strong> </p>
    </div>  
    
    <a href="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v148-n-poyd-aum-01-logistics_4.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b7ba3c6e82abeaabe1f3a08818ca0a59">
        <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v148-n-poyd-aum-01-logistics_4.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b7ba3c6e82abeaabe1f3a08818ca0a59"
             alt="Shipping containers on trucks, boats, and scaffolding" id="scontainers"
             style="width: 250px; height: 250px;" />
    </a>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
