@page
@model PrototypeWebApplication.Pages.WelcomeModel
@{
}

<head>
<link rel="stylesheet" href="site.css">
</head>

<!-- New Page for About and Project details (Overview) -->

<h1 class= "display-4">
    Thank You for Visiting!
    </h1>
<h2><em> Here's an Overview of Our Logistics Web App </em></h2>
    
<div class="text-center">
    <a href="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v148-n-poyd-aum-01-logistics_4.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b7ba3c6e82abeaabe1f3a08818ca0a59">
        <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v148-n-poyd-aum-01-logistics_4.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b7ba3c6e82abeaabe1f3a08818ca0a59"
             alt="Shipping containers on trucks, boats, and scaffolding" id="scontainers"
             style="width: 200px; height: 200px;" />
    </a>
</div>
<!-- Can Use this image as a style detail between similar pages?? -->


<blockquote>
<h3> About </h3>
    <p> 
        This is our basic prototype with background research. We aim to make a visually appealing overview
        of shipping times, routing, and tracking information.
    </p>

<h3> Prototype Details </h3>
</blockquote>

<!--Table with group names listed -->
<h3> Meet the Team </h3>