@page
@model PrototypeWebApplication.Pages.WelcomeModel
@{
}

<head>
<link rel="stylesheet" href="site.css">
</head>

<!-- New Page for About and Project details (Overview) -->
<div class="text-center">

    <div class="container p-5 my-5 bg-dark text-white rounded-1">
        <h1 Style="color:white" class="display-4">Thank You for Visiting!</h1>
        <p Style="color:#78c2ad"> <strong> Here's an Overview of Our Logistics Web App </strong> </p>
    </div>

</div>
  
    <div class="text-center">
        <a href="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v148-n-poyd-aum-01-logistics_4.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b7ba3c6e82abeaabe1f3a08818ca0a59">
            <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v148-n-poyd-aum-01-logistics_4.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b7ba3c6e82abeaabe1f3a08818ca0a59"
                 alt="Shipping containers on trucks, boats, and scaffolding" id="scontainers"
                 style="width: 200px; height: 200px;" />
        </a>
    </div>
    <!-- Can Use this image as a style detail between similar pages?? -->


<h3> About </h3>
<p>
    <!-- Paragraphs are used for spacing box is custom css format for welcom page -->
    <box>
        We aim to make a visually appealing overview of shipping times, routing, and tracking information.
    </box>
</p>
    
<div>
<h3> Prototype Details </h3>
    <p>
    <box>
    This is our basic prototype with background research. Still lacking many functional and visual goals.
    </box>
    </p>
</div>

<!--Table with group names listed -->

<h3> Meet the Team </h3>
    <table style="width: 60%; border: 3px solid #ccc; border-color: #B7EEDE;" 
           class="table table-sm table-success table-hover"
           id="teamtable">
        <tr>
            <th> Name </th>
            <th> Role </th>
            <th> Class </th>
        <tr>
        <tbody class="table-group-divider">
        <tr>
            <td>Natalia Furmanek</td>
            <td>Developer</td>
            <td>MIST353</td>
        <tr>
        <tr>
            <td>Leonardo Cuellar</td>
            <td>Developer</td>
            <td>MIST353</td>
        <tr>
        <tr>
            <td>Luke Chitt</td>
            <td>Developer</td>
            <td>MIST353</td>
        <tr>
        </tbody>
    </table>

<div>
    <button onclick="hideteam()" id="hideteambtn" class="btn btn-success">Hide the Team</button>
</div>

<script>
    let isteamhidden = 0;
    function hideteam() {
        if (isteamhidden == 0) {
            document.getElementById("teamtable").style.display = "none";
            document.getElementById("hideteambtn").innerHTML = "Show the Team";
            isteamhidden = 1;
        }
        else {
            document.getElementById("teamtable").style.display = "table";
            document.getElementById("hideteambtn").innerHTML = "Hide the Team";
            isteamhidden = 0;
        }
    }

    function showtheteam() {
        document.getElementById("teamtable").style.display = "table";
        document.getElementById("hideteambtn").innerHTML = "Hide the Team";
        document.getElementById("hideteambtn").onclick = "hideteam()";
    }

</script>
