@page
@model PrototypeWebApplication.Pages.ShipmentCrud.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shipment.Shipmentid" />
            <div class="form-group">
                <label asp-for="Shipment.DeliveryDate" class="control-label"></label>
                <input asp-for="Shipment.DeliveryDate" class="form-control" />
                <span asp-validation-for="Shipment.DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.ShipmentType" class="control-label"></label>
                <input asp-for="Shipment.ShipmentType" class="form-control" />
                <span asp-validation-for="Shipment.ShipmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.Weight" class="control-label"></label>
                <input asp-for="Shipment.Weight" class="form-control" />
                <span asp-validation-for="Shipment.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.Cost" class="control-label"></label>
                <input asp-for="Shipment.Cost" class="form-control" />
                <span asp-validation-for="Shipment.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.UserId" class="control-label"></label>
                <select asp-for="Shipment.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Shipment.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.VehicleId" class="control-label"></label>
                <select asp-for="Shipment.VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="Shipment.VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.RouteId" class="control-label"></label>
                <select asp-for="Shipment.RouteId" class="form-control" asp-items="ViewBag.RouteId"></select>
                <span asp-validation-for="Shipment.RouteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.WarehouseId" class="control-label"></label>
                <select asp-for="Shipment.WarehouseId" class="form-control" asp-items="ViewBag.WarehouseId"></select>
                <span asp-validation-for="Shipment.WarehouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.OriginLocationId" class="control-label"></label>
                <select asp-for="Shipment.OriginLocationId" class="form-control" asp-items="ViewBag.OriginLocationId"></select>
                <span asp-validation-for="Shipment.OriginLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.DestinationLocationId" class="control-label"></label>
                <select asp-for="Shipment.DestinationLocationId" class="form-control" asp-items="ViewBag.DestinationLocationId"></select>
                <span asp-validation-for="Shipment.DestinationLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
